<li class="<%= 'active' if request.env['PATH_INFO'] == path %>">
	<a href="<%= path %>">
	<svg class="glyph stroked <%= icon %>">
	<use xlink:href="#stroked-<%= icon %>"></use>
    </svg><%= title %></a></li>
	</i>
</li>